.container-recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--spacing);
}

.container-coocking {
    justify-content: space-between;
    gap: var(--spacing);
}

.container-coocking>header {
    max-height: clamp(8rem, 20vh, 12rem);
}

.container-coocking>footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;

}

.container-coocking>div {
    background-image: url("/assets/images/coocking.svg");
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 4vh;
}