:root {
    --navbar_height: clamp(5rem, 8vh, 9rem);
}

.logo {
    width: clamp(4rem, 5vw, 6rem);
}

.hero {
    background-color: #201d1d;
    background-position: center;
    background-size: cover;
}

.extend {
    grid-template-columns: auto clamp(5.4rem, 8vw, 9rem);
}

#index-receipe,
#show-receipe,
#edit-receipe {
    --stagger-delay: 100ms;
    animation: 300ms FadeInAnimation var(--stagger-delay) ease-out;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

@keyframes FadeInAnimation {
    from {
        opacity: 0.3;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}